---
import UserLayout from "../../../../../layouts/UserLayout.astro";
import Text from "../../../../../components/Text.astro";
import { BidPlacementForm } from "../../../../../components/ui/react/bid-placement-form";
import { HEADER_TOKEN, Headers } from "../../../../../constants";

//@ts-ignore
const { bid } = Astro.params;
const params = new URLSearchParams();
params.append("bidId", bid!);
const res = await fetch(
  `${process.env.API_ENDPOINT}/v1/bids/manage-bid?${params.toString()}`,
  {
    headers: Headers,
  }
);
const result = await res.json();

const bidData = result?.bid;
const contractorId = bidData.contractorId;

const placementStatus = bidData?.tender?.BidPlacement.find(
  (x) => x.contractorId === contractorId
)?.status;


const bucketName = import.meta.env.BUCKET_NAME;
const bucketPublicDomain = import.meta.env.BUCKET_PUBLIC_DOMAIN;
---

<UserLayout title="Manage tenders">
  <div
    class="flex flex-col bg-slate-100 dark:bg-natural gap-x-4 ml-24 w-[calc(100%-7rem)] p-8 mt-24 mb-8 h-full rounded-2xl"
  >
    <div class="flex justify-between">
      <Text type="p" content="Bid Placement" className="!font-bold text-xl" />
      <Text
        type="p"
        content={placementStatus?.toUpperCase() ?? `NOT PLACED`}
        className={placementStatus === "rejected"
          ? "!text-red-600 !bg-red-50 !font-bold text-lg p-4 border-2 border-red-600 rounded-lg"
          : placementStatus === "placed" || placementStatus === "accepted"
            ? "!text-green-600 !bg-green-50 !font-bold text-lg p-4 border-2 border-green-600 rounded-lg"
            : "" + ` !font-bold text-lg !text-gray-600`}
      />
    </div>
    <div class="my-12">
      <BidPlacementForm
        token={HEADER_TOKEN}
        bidData={bidData}
        bucketName={bucketName}
        bucketPublicDomain={bucketPublicDomain}
        client:only
      />
    </div> 
  </div>
</UserLayout>
