---
import { Switch } from "./ui/react/switch";
import { AvatarComponent } from "@/components/ui/react/avatar-component";
import { Headers } from "@/constants";

const name = Astro.locals?.user?.companyName || (Astro.locals?.user?.firstName + " " + Astro.locals?.user?.lastName);

const userData = Astro.locals?.user;

const res = await fetch(`${import.meta.env.API_ENDPOINT}/v1/settings`, {headers: Headers});
const { data } = await res?.json();

const appLogo = data?.settings[0].appLogo;
const appName = data?.settings[0].appName;

---

<div
  class="flex ml-20 h-20 bg-white dark:bg-natural w-[calc(100%-5rem)] py-2 border-b dark:border-b-slate-700 fixed z-50"
>
  <div class="flex w-full gap-x-20 justify-between text-foreground pt-4 px-4">
    <div class="w-2/5 flex gap-x-2 justify-start items-center">
      <img src={appLogo} width={20} height="auto" alt="logo" />
      <h1 class="text-xl font-bold">{appName}</h1>
    </div>

    <div
      class="flex w-full gap-10 items-center bg-transparent text-foreground justify-end"
    >
      <div class="flex gap-x-4 items-center">
        <Switch client:only="react" />
        <AvatarComponent
          userID={userData?.userId}
          email={userData?.email}
          phone={userData?.businessPhone || userData?.homePhone}
          address={userData?.address}
          alt={`name`}
          src={``}
          fallbackText={name}
          role={userData?.user?.role}
          client:only="react"
        />
      </div>
    </div>
  </div>
</div>
