---
import "@/styles/global.css";
import { menu } from "../utilities/helpers/menu";
import { Toaster } from "../components/ui/react/sonner";
import DashboardHeader from "../components/DashboardHeader.astro";
import Sidebar from "../components/Sidebar.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;

const id = Astro.locals?.user?.id;
const params = new URLSearchParams();
params.append("id", String(id));

const res = await fetch(
  `${process.env.API_ENDPOINT}/v1/bids?${params.toString()}`,
  {
    headers: {
      "x-pol-rfx-secret": process.env.X_POL_RFX_SECRET,
      "Content-Type": "application/json",
    },
  }
);

const result = await res.json();

Astro.locals.bids = result;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- <ViewTransitions /> -->
  </head>
  <body
    class="flex dark:bg-background-color w-full mx-auto h-full no-scrollbar"
  >
    <main class="flex w-full h-full">
      <DashboardHeader role="User" />
      <Sidebar upperMenu={menu.user.upper} lowerMenu={menu.user.lower} />
      <slot />
    </main>
    <Toaster client:load richColors position="top-right" />
  </body>
</html>
<script src="../utilities//helpers/themeScript.js"></script>
